<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit:me 회원가입</title>
    <link rel="stylesheet" href="../../static/css/join.css" th:href="@{/css/join.css}">
</head>
<body>

    <div class="title">Fit:me 회원가입</div>

    <div class="container">
        <div class="button-group">
            <a th:href="@{/register/member}" class="member-btn">회원</a>
            <a th:href="@{/register/trainer}" class="trainer-btn">트레이너</a>
        </div>
    </div>

</body>
</html>
