<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../static/css/trainercalendar.css" th:href="@{/css/trainerschedule.css}">
  <script src="../../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
  
<script th:inline="javascript">
var calendarEventsFromList = [
  /*[# th:each="event, iterStat : ${list}" ]*/
  {
    id: [[${event.trainerScheduleId}]],
    title:'이용가능시간' ,
    start: [[${#temporals.format(event.startTime, 'yyyy-MM-dd''T''HH:mm:ss')}]],
    end:   [[${#temporals.format(event.endTime, 'yyyy-MM-dd''T''HH:mm:ss')}]],
    editable: false
  }[(${iterStat.last ? '' : ','})]
  /*[/]*/
];

var calendarEventsUserList = [
  /*[# th:each="event, iterStat : ${userlist}" ]*/
  {
    userId: [[${event.userId}]],
    title: [[${' ' + (event.userId != null ? event.userName : 'No User')}]],
    start: [[${#temporals.format(event.startTime, 'yyyy-MM-dd''T''HH:mm:ss')}]],
    end:   [[${#temporals.format(event.endTime, 'yyyy-MM-dd''T''HH:mm:ss')}]],
    editable: false,
    backgroundColor: '#800080'  // 보라색 지정 (필요시 textColor 등도 추가 가능)
  }[(${iterStat.last ? '' : ','})]
  /*[/]*/
];

var calendarEvents = calendarEventsFromList.concat(calendarEventsUserList);
console.log("Merged calendarEvents:", calendarEvents);
</script>
<script th:inline="javascript">
    var trainerId = [[${trainerId}]];
    // trainerId가 1이라면, 자바스크립트 변수 trainerId에 1이 할당됩니다.
</script>



  
  <script src="../../static/js/trainerschedule.js" th:src="@{/js/trainerschedule.js}"></script>
</head>
<body>
  <div id="page-container">
    <!-- 왼쪽 사이드바 -->
    <div id="left-sidebar">
      <button id="member-management">회원관리</button>
      <button id="schedule-management" style="display:none;">일정관리</button>
      <button id="reset-button" style="display:none;">초기화</button>
      <div id="left-placeholder">공지사항란</div>
    </div>
    <!-- 중앙 캘린더 -->
    <div id="calendar"></div>
    <!-- 오른쪽 미니 캘린더 영역 -->
    <div id="mini-calendar-container">
      <div id="mini-calendar-wrapper">
        <div id="mini-calendar"></div>
      </div>
      <div id="month-placeholder"></div>
      <button id="pt-button">PT시작</button>
    </div>
  </div>
</body>
</html>
